.title-h1 {
    color: red;
}

.container {
    text-align: center;
}

.subtitle {
    text-align: left;
}

.sub-container {
    text-align: justify;
}

#title-Index {
    text-align: left;
}

#paragraph {
    text-align: justify;
}

#paragraph-compilador {
    text-align: justify;
    margin: 10px;
}

.div-compilador {
    margin: 10px;
    text-align: justify;
}

.img-compilador {
    text-align: center;
}

a {
    text-decoration: none;
}

td {
    text-align: justify;
}